# @HieuVu21:registry=https://npm.pkg.github.com/HieuVu21
# //npm.pkg.github.com/:_authToken =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

@hieuvu21:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
